@model ERP.Models.RegisterViewModel

@{
    ViewData["Title"] = "فرم ثبت کارکنان استان - سطح استان";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
    List<Gender> Genders = ViewData["Genders"] as List<Gender>;
    List<Employment> Employments = ViewData["Employments"] as List<Employment>;
    List<Marital> Maritals = ViewData["Maritals"] as List<Marital>;

}
<div class="modal-dialog modal-dialog-scrollable"
<div class="btn btn-outline-primary btn-sm  my-1 mx-3">افزودن در سطح استان</div>
@if (ViewBag.SuccessRegister == true)
{
    <div class="alert alert-success w-50 text-center mx-auto mb-md-3 mt-md-n4 cursor" id="alertSuccessRegister">
        <p class="help-block my-0"> افزودن کاربر با کدملی @ViewBag.IdC با موفقیت انجام شد.</p>
    </div>
    <script>
        var delay = 5000;
        setTimeout(function () { document.getElementById("alertSuccessRegister").classList.add("hidden") }, delay);
    </script>
}
@if (ViewBag.ErrorUploadPhoto == true)
{
    <div class="alert alert-danger w-50 text-center mx-auto mb-md-3 mt-md-n4 cursor" id="alertErrorUploadPhoto">
        <p class="help-block my-0"> برای تصویر پرسنل فقط فرمت png. مورد پذیرش است.</p>
    </div>
    <script>
        var delay = 5000;
        setTimeout(function () { document.getElementById("alertErrorUploadPhoto").classList.add("hidden") }, delay);
    </script>
}
@if (ViewBag.ErrorData == true)
{
    <div class="alert alert-danger w-50 text-center mx-auto mb-md-3 mt-md-n4 cursor" id="alertErrorData">
        <p class="help-block my-0">تمام اطلاعات مورد نیاز وارد نشده است.</p>
    </div>
    <script>
        var delay = 5000;
        setTimeout(function () { document.getElementById("alertErrorData").classList.add("hidden") }, delay);
    </script>
}
@if (ViewBag.ErrorIsExistManager == true)
{
    <div class="alert alert-danger w-50 text-center mx-auto mb-md-3 mt-md-n4 cursor" id="alertErrorIsExistManager">
        <p class="help-block my-0">قبلا فرد دیگری در نقش مدیریت ثبت شده است.</p>
    </div>
    <script>
        var delay = 5000;
        setTimeout(function () { document.getElementById("alertErrorIsExistManager").classList.add("hidden") }, delay);
    </script>
}
<h6 class="my-3"><img src="~/icons/grid-icon.png" class="mx-2" />فرم ثبت نام</h6>
<form asp-controller="Management" asp-action="RegisterationProvince" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row p-0 mt-2 mb-0 mx-0">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row m-0 p-0">
                    <div class="col-md-3">
                        <label asp-for="nationalCode" class="control-label">نام کاربری :</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="nationalCode" class="form-control" maxlength="10" autocomplete="off" />
                        <span asp-validation-for="nationalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row m-0 p-0">
                    <div class="col-md-3">
                        <label asp-for="userPass" class="control-label">رمز عبور :</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="userPass" class="form-control" autocomplete="off" />
                        <span asp-validation-for="userPass" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row m-0 p-0">
                    <div class="col-md-3">
                        <label asp-for="ReuserPass" class="control-label">تکرار رمز عبور :</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="ReuserPass" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ReuserPass" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row m-0 p-0">
                    <div class="col-md-3">
                        <label asp-for="fName" class="control-label">نام :</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="fName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="fName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="avatar" class="control-label">تصویر پرسنل :</label>
                </div>
                <div class="col-md-7">
                    <img id="imgAvatar" class="thumbnail border rounded " src="~/icons/defaultUserAvatar.png" />
                    <div class="text-danger custom-font--5"><sup>*</sup>فقط فرمت png. مورد پذیرش است.</div>
                    <div class="form-group my-2">
                        <input asp-for="avatar" id="UserAvatar" class="custom-font--4" accept="image/png">
                        <span asp-validation-for="avatar" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="lName" class="control-label">نام خانوادگی :</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="lName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="lName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label>شعبه :</label>
                </div>
                <div class="form-group col-md-5 m-0">
                    <input class="form-control" autocomplete="off" value=1 readonly />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label>وضعیت استخدامی :</label>
                </div>
                <div class="form-group col-md-5 d-flex m-0">
                    @foreach (var item in Employments)
                    {
                        <div class="checkbox  mr-2">
                            <label>
                                <input type="checkbox" class="checkoption--3" name="SelectedEmployment" value="@item.EmploymentId" /> @item.EmploymentTitle
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label>نقش پرسنل :</label>
                </div>
                <div class="form-group col-md-5 m-0">
                    <select class="form-control" id="role" name="SelectedRoles">
                        <option selected>معاونت حوزه فعالیت را انتخاب کنید</option>
                        @foreach (var item in Roles)
                        {
                            <option value="@item.RoleId"> @item.RoleTitle</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label>جنسیت :</label>
                </div>
                <div class="form-group col-md-5 d-flex m-0">
                    @foreach (var item in Genders)
                    {
                        <div class="checkbox  mr-2">
                            <label>
                                <input type="checkbox" class="checkoption" name="SelectedGenders" value="@item.genderId" /> @item.genderTitle
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="dateOfBirth" class="control-label">تاریخ تولد :</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="dateOfBirth" class="form-control" placeholder="روز(DD)/ماه(MM)/سال(YYYY)" autocomplete="off" />
                    <span asp-validation-for="dateOfBirth" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="education" class="control-label">تحصیلات :</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="education" class="form-control" autocomplete="off" />
                    <span asp-validation-for="education" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="workingStatus" class="control-label">وضعیت :</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="workingStatus" class="form-control" autocomplete="off" value="فعال" readonly />
                    <span asp-validation-for="workingStatus" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="tel" class="control-label">شماره تماس :</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="tel" class="form-control" autocomplete="off" />
                    <span asp-validation-for="tel" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label>وضعیت تاهل :</label>
                </div>
                <div class="form-group col-md-5 d-flex m-0">
                    @foreach (var item in Maritals)
                    {
                        <div class="checkbox  mr-2">
                            <label>
                                <input type="checkbox" class="checkoption--4" name="SelectedMarital" value="@item.maritalId" /> @item.maritalTitle
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="form-group col-md-6">
            <div class="row m-0 p-0">
                <div class="col-md-3">
                    <label asp-for="address" class="control-label">نشانی محل سکونت :</label>
                </div>
                <div class="col-md-5">
                    <textarea asp-for="address" class="form-control"></textarea>
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="row p-0 mx-0">
        <div class="form-group col-12 d-flex justify-content-center my-3">
            <input type="submit" value="ثبت" class="btn btn-primary w-25" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Avatar{
    <script>
        $("#UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}

